
  .post-review-header{
    border-bottom: 1px solid black;
  }
  .post-review-content{
    text-justify: inter-word;
    text-align: justify;
    margin-right: 15px;
  }
  .post-review-star{
    font-size: 70%;
    color: gold;
  }
