body{
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
}

.post-header{
  margin: 10px 0 10px 0;

  h2{
    margin: 8px;
  }
}

.post-side-icon {
  margin: 15px 0 15px 0;
}

.post-video-icon{
  @extend .post-side-icon;
  color: #f1644b;
}
.post-review-icon{
  @extend .post-side-icon;
}

/*----------------- video --------------------*/
.post-video-container{
  background-color: black;
}

.video-frame{
  width: 640px;
  height: 480px;
  max-width: 100%;
}
.post-video-features {
  border: 1px solid lightgray;
  color: lightgray;
  margin-left: 5px;
  padding: 15px;
  font-size: 300%;
  margin-right: 4px;
}
.post-video-star{ @extend .post-video-features; }
.post-video-share{ @extend .post-video-features; }
.post-video-flag{ @extend .post-video-features; }

.post-video-star:hover{
  color : orange;
  border-color: orange;
}

.post-video-share:hover{
  color : blue;
  border-color: blue;
}

.post-video-flag:hover{
  color : red;
  border-color: red;
}
/*----------------- metadata --------------------*/
.post-metadata-value{
  color: gray;
}
/*----------------- files --------------------*/
.post-files-size{
  color: gray;
}
/*----------------- reviews --------------------*/
.post-review-header{
  border-bottom: 1px solid black;
}
.post-review-content{
  text-justify: inter-word;
  text-align: justify;
}
.post-review-star{
  font-size: 70%;
  color: gold;
}
/*----------------- related posts --------------------*/
.related-post-container{
  background-color: #efefef;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.33);
}
.related-post{
  width: 185px;
  box-shadow: 1px 0px 2px 1px rgb(175, 175, 175);
  padding: 2px;
  margin: 4px;

  img {
    cursor: pointer;
  }
}
.related-post-title{
  height: 50px;
  color: black;
  cursor: pointer;
}
.related-post-features{

  div{
    text-align: center;
    font-size: 7pt;
    color: gray;
    padding: 10px;
  }
  div:not(:last-child) {
    border-right: 1px solid lightgray;
  }
}

.related-post-icon {
  font-size: 120%;
  color: gray;
  
  &.film{
    font-size: 250% !important;
    color: #f1644b !important;
  }
}
