  .post-header{
    margin: 10px 0 10px 0;
  
    h2{
      margin: 8px;
    }
  }
  
  .post-side-icon {
    margin: 15px 0 15px 0;
  }
  
  .post-video-icon{
    @extend .post-side-icon;
    color: #f1644b;
  }
  .post-review-icon{
    @extend .post-side-icon;
  }
  